<h1>
  Add/Remove components: {{someProperty}}
</h1>




<input type="text" placeholder="Dealer Name" class="focus"> <br/>
<input type="text" placeholder="Dealer Contact" class="focus"> <br/>
<input type="text" placeholder="Dealer Address" class="focus"> <br/>
<input type="text" placeholder="Dealer Email" class="focus"> <br/>
<a routerLink="/dealershipaddremove" class="mygButton">Add Component</a> <br/><br/>

<input type="text" placeholder="Search Dealer" class="focus">


<table class="responstable">

    <tr>
        <th>Select</th>
        <th data-th="Driver details"><span>Dealership Name</span></th>
        <th>Dealership Contact</th>
        <th>Dealership Address</th>
        <th>Dealership website</th>
    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>datb</td>
        <td>(012) 254 1458</td>
        <td>12 Brynon Str, 0152</td>
        <td>www.toyotamenlyn.co.za</td>
    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>Toyota PTA CBD</td>
        <td>(012) 254 8858</td>
        <td>45 vanderwalt and andries Str, 0152</td>
        <td>www.toyotamcbd.co.za</td>
    </tr>

    <tr>
        <td><input type="radio"/></td>
        <td>Toyota Mokopane</td>
        <td>(011) 777 8858</td>
        <td>1101 Madiba and Pieter Str, 0752</td>
        <td>www.toyotamokopane.co.za</td>
    </tr>

    <tr>
        <td><input type="radio"/></td>
        <td>Toyota Toyota</td>
        <td>(015) 001 6558</td>
        <td>2202 Pretorius Street, 0152</td>
        <td>www.toyotamcbd.co.za</td>
    </tr>

</table>