
<h1>List: {{someProperty}} <span>{{vrb[0]}}</span></h1>

<input type="text" placeholder="Search Dealer" class="focus">

<p>
    Service data:  {{someProperty}}

</p>

<table class="responstable">

    <tr>
        <th>Select</th>
        <th data-th="Driver details"><span>Dealership Name</span></th>
        <th>Dealership Contact</th>
        <th>Dealership Address</th>
        <th>Dealership website</th>
    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>Toyota JHB CBD</td>
        <td>(011) 254 8858</td>
        <td>45 bri and andries Str, 0152</td>
        <td>www.toyotaymf.co.za</td>

    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>Toyota PTA CBD</td>
        <td>(012) 254 8858</td>
        <td>45 vanderwalt and andries Str, 0152</td>
        <td>www.toyotamcbd.co.za</td>
    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>Toyota Mokopane</td>
        <td>(011) 777 8858</td>
        <td>1101 Madiba and Pieter Str, 0752</td>
        <td>www.toyotamokopane.co.za</td>
    </tr>

    <tr>
        <td><a routerLink="/dealershipaddremove" class="mygButton">View</a></td>
        <td>Toyota Mokopane</td>
        <td>(015) 001 6558</td>
        <td>2202 Pretorius Street, 0152</td>
        <td>www.toyotamcbd.co.za</td>
    </tr>

</table>